/* CSS */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body{
    background-color: #F4F1DE;
    font-family: 'Nanum Gothic', sans-serif;
    color: #3D405B;
  }
  
  h1{
    font-family: 'Playfair Display', serif;
    color:  #3D405B;
  }
  
.pageContentText {
    padding: 25px;
    /* Add margin-top to prevent content text from being covered by navbar*/ 
    margin-top: 60px; /* Adjust the value based on your navbar height */
  }
  
  header{
    background-color: #3D405B;
    /* header should stick to the top window*/
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; /* Ensure it's above other content */
     /* Add a small dark shadow to header and .nav-menu*/
    box-shadow: 2px 4px 15px rgba(0, 0, 0, 0.3);
  }
  
  li{
    list-style: none;
  }
  
  a{
    color: #F4F1DE;
    text-decoration: none;
  }
  
  .navbar{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
  }
  
  .nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
  }
  
  .nav-branding{
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    transition: 0.5s ease;
  }
  
  .nav-branding:hover{
    color: #F2CC8F;
  }
  
  .nav-link{
    transition: 0.5s ease;
  }
  
  .nav-link:hover{
    color: #F2CC8F;
  }
  
  
  .hamburger{
    display: none;
    cursor: pointer;
  }
  
  .bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3 ease-in-out;
    transition: all 0.3 ease-in-out;
    background-color: #F4F1DE;
  }

  /* footer */
  footer {
    background-color:  #F4F1DE;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 5%;
    overflow-y:hidden;
  }
  
  .footer-content {
    text-align: center;
  }
  
  .whatsapp-link {
    text-decoration: none;
    display: flex;
    align-items: center;
    /*this was the color before: "color: #e0e0e0;" and "filter: brightness(85%); "*/
    color: #81B29A;
    filter: brightness(70%); 
    transition: color 0.1s, transform 0.1s, filter 0.1s;
  }
  
  .whatsapp-link:hover {
    color: #3D405B;       /* Change color on hover:: previous color was: #9e9e9e*/
    transform: scale(1.005);   /* Slightly increase the scale effect on hover */
    filter: brightness(50%);  /* Slightly reduce brightness on hover for sharper text */
  }
  
  .whatsapp-text {
    margin-left: 10px;        /* Add some space between the icon and text */
  }
  /* END footer */
  
  @media(max-width:768px){
    .hamburger{
      display: block;
    }
    .hamburger.active .bar:nth-child(2){
      opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
      transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
      transform: translateY(-8px) rotate(-45deg);
    }
   
  
    .nav-menu{
      position: fixed;
      left: -120%;
      top: 70px;
      gap: 0;
      flex-direction: column;
      background-color: #3D405B;
      width: 100%;
      text-align: center;
      transition: 0.3s;
      /* Add a small dark shadow to header and .nav-menu*/
      box-shadow: 2px 4px 15px rgba(0, 0, 0, 0.3);
    }
  
    .nav-item{
      margin: 16px 0
    }
  
    .nav-menu.active{
      left: 0;
    }
  }
  /* END:: nav-bar */



  /*///////////////////////////  TEST - div ////////////*/
.test0 {
  background-color: #E07A5F;
  border-radius: 10px; 
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2); 
  color: #3D405B;
  padding: 20px;
}

.test1 {
  background-color: #F2CC8F;
  border-radius: 10px; 
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2); 
  color: #3D405B;
  padding: 20px; 
}

.test2 {
  background-color: #81B29A;
  border-radius: 10px; 
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2); 
  color: #3D405B;
  padding: 20px; 
}

/* Stil für den h1-Titel innerhalb der .test-Div */
.test0 h1 {
  color: #F4F1DE;
}

.test1 h1 {
  color: #F4F1DE;
}

.test2 h1 {
  color: #F4F1DE;
}

  /*///////////////////  END  TEST - div ////////////*/
